.modal{
    background-color: transparent;
}
.trigger-btn{
    background-color: transparent;
    border: none;
    font-size: 25px;
    color: #475569;
}

.modal{
    width: 100%;
    margin: auto;
}

.react-popup-content {
    background: none !important; 
  }